/* body {
    background-color: #1e1e2d;
} */

h2 {
    margin: 3rem 0 0.5rem 0;
    font-weight: 500;
    line-height: 1.2;
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
}
.heading-section {
    font-size: 28px;
    color: black;
}

.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.34);
}
.login-wrap h3 {
    font-weight: 700;
    font-size: 20px;
    color: #151521;
}
.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: #1e1e2d;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.login-wrap .icon span {
    color: #fff;
}

.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn.btn-primary {
    background: #1e1e2d;
    border: 1px solid #1e1e2d;
    color: #fff;
}

.btn.btn-primary:hover {
    border: 1px solid #151521;
    background: rgb(4, 4, 6) #151521;
    color: #fff;
}
